job "powerdns" {
  datacenters = ["{{ nomad.datacenter }}"]
  group "service" {
    network {
      port "recursor-dns" {
        static = 2053
        to = 53
      }
      port "recursor-admin" {
        static = 8082
        to = 8082
      }
      port "auth-dns" {
        static = 1053
        to = 53
      }
      port "auth-admin" {
        static = 8081
        to = 8081
      }
      port "admin" {
        static = 9191
        to = 80
      }
    }
    volume "pdns_recursor_conf" {
      type = "host"
      read_only = false
      source = "pdns_recursor_conf"
    }
    volume "pdns_auth_conf" {
      type = "host"
      read_only = false
      source = "pdns_auth_conf"
    }
    volume "pdns_auth_data" {
      type = "host"
      read_only = false
      source = "pdns_auth_data"
    }
    volume "pdns_admin_data" {
      type = "host"
      read_only = false
      source = "pdns_admin_data"
    }
    task "recursor" {
      driver = "docker"
      config {
        image = "powerdns/pdns-recursor-master"
        ports = ["recursor-dns", "recursor-admin"]
      }
      volume_mount {
        volume = "pdns_recursor_conf"
        destination = "/etc/powerdns"
      }
      service {
        name = "${JOB}-${TASK}"
        port = "recursor-admin"
        address_mode = "host"
        tags = ["web"]
      }
      resources {
        cpu = 500
        memory = 1024
      }
    }
    task "auth" {
      driver = "docker"
      config {
        image = "powerdns/pdns-auth-master"
        ports = ["auth-dns", "auth-admin"]
      }
      volume_mount {
        volume = "pdns_auth_conf"
        destination = "/etc/powerdns"
      }
      volume_mount {
        volume = "pdns_auth_data"
        destination = "/var/lib/powerdns"
      }
      service {
        name = "${JOB}-${TASK}"
        port = "auth-admin"
        address_mode = "host"
        tags = ["web"]
      }
      resources {
        cpu = 500
        memory = 1024
      }
    }
    task "admin" {
      driver = "docker"
      config {
        image = "ngoduykhanh/powerdns-admin"
        ports = ["admin"]
      }
      volume_mount {
        volume = "pdns_admin_data"
        destination = "/data"
      }
      service {
        name = "${JOB}-${TASK}"
        port = "admin"
        address_mode = "host"
        tags = ["web"]
      }
      resources {
        cpu = 500
        memory = 1024
      }
    }
  }
}
