job "pihole" {
  datacenters = ["{{ nomad.datacenter }}"]
  group "service" {
    network {
      port "http" {
        to = 80
        static = 7080
      }
      port "https" {
        to = 443
        static = 7443
      }
      port "dns" {
        to = 53
        static = 53
      }
    }
    volume "pihole_pihole_config" {
      type = "host"
      read_only = false
      source = "pihole_pihole_config"
    }
    volume "pihole_dnsmasq_config" {
      type = "host"
      read_only = false
      source = "pihole_dnsmasq_config"
    }
    task "app" {
      driver = "docker"
      config {
        image = "pihole/pihole"
        ports = ["http", "https", "dns"]
        hostname = "pihole"
      }
      volume_mount {
        volume = "pihole_pihole_config"
        destination = "/etc/pihole"
      }
      volume_mount {
        volume = "pihole_dnsmasq_config"
        destination = "/etc/dnsmasq.d"
      }
      service {
        name = "${JOB}"
        port = "http"
        address_mode = "host"
        tags = ["web"]
      }
      env {
        TZ = "Etc/UTC"
        WEBPASSWORD = "{{ pihole_admin_password }}"
        PIHOLE_DNS_ = "{{ dns_servers }}"
        DNS_FQDN_REQUIRED = "false"
        DNS_BOGUS_PRIV = "false"
      }
      resources {
        cpu = 300
        memory = 512
      }
    }
  } 
}
