job "pihole" {
  datacenters = ["{{ nomad.datacenter }}"]
  group "service" {
    network {
      port "http" {
        to = 80
        static = 7080
      }
      port "https" {
        to = 443
        static = 7443
      }
      port "dns" {
        to = 53
        static = 53
      }
    }
    task "app" {
      driver = "docker"
      config {
        image = "pihole/pihole"
        ports = ["http", "https", "dns"]
      }
      env {
        TZ = "Etc/UTC"
        WEBPASSWORD = "{{ pihole_admin_password }}"
      }
      resources {
        cpu = 500
        memory = 512
      }
    }
  } 
}
